{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#is "home"}}
    {{!-- If there is a 'home' page with slug 'home' then load the data.
    It is mapped via routes.yaml  --}}
    {{#page}}
    <header class="page-head">
    {{#if title}}
        <h1 class="page-head-title">{{title}}</h1>
    {{else if @site.description}}
        <h1 class="page-head-title">{{@site.description}}</h1>
    {{/if}}
        <div class="page-head-description">{{excerpt}}</div>
    </header>

    <div class="post-content-article-posts post-content-article-with-featured post-content-article-with-index">
        {{#get "posts" filter="tags:primary-category " order="published_at asc"}}
        {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card-article"}}
        {{/foreach}}
        {{/get}}
    </div>

    <article class="post-content page-head-articles">
        <div class="post-content-body">{{content}}</div>
    </article>

    {{/page}}
{{/is}}


